{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "components": "./src/components",
          "utils": "./src/utils",
          "services": "./src/services",
          "models": "./src/models",
          "assets": "./src/assets",
          "views": "./src/views",
          "locales": "./src/locales",
          "config": "./src/config"
        }
      }
    ]
  ]
}
